@charset "UTF-8"; 
@font-face {
  font-family: PoiretOne;
  src: url(../font/PoiretOne-Regular.woff);
  font-style:normal;
  font-weight:400;
  src: local('PoiretOne'), 
    url(../font/PoiretOne-Regular.ttf) format('truetype'),
    url(../font/PoiretOne-Regular.woff2) format(woff2),
}

body { font-family:PoiretOne, Verdana, Geneva, Tahoma, sans-serif; color:#333333}
a { color:inherit }
ul::after { display: block; content: ""; clear: both;}

/* 레이아웃 */
header { position:fixed; left:0; top:0; height:100%; width:15%; }
#util { position:relative; background:#313131; width:85%; height:35px; margin-left:15%;
        transition: 0.3s; }
section { width:85%; margin-left:15%; background:lightpink;transition: 0.3s;}

/* 헤더 */
header h1 {
  position:absolute; top:10vh; left:50%; transform:translate(-50%);
  width:180px; height:136px; background:url('../img/logo1.png') no-repeat center center / contain ;
  text-indent:-9999px;transition: 0.3s;
}
.gnb { position:absolute; top:30vh; left:50%; margin-left:-60px;transition: 0.3s; }
.gnb ul{ }
.gnb li { padding:8px 0; }
.gnb a { font-size:18px; font-weight:bold; color:#666; transition:.3s; text-transform: uppercase;
          transition: .3s; }
.gnb a:hover { color:#000; }
.gnb a i { margin-right:8px; }
.gnb a span {}

.sns { position:absolute; bottom:30px; right:50%; transform:translate(50%); text-align:center;}
.sns a { font-family:'Khand',sans-serif; text-transform: uppercase;  }
.sns_icon { color:#666; display:inline-block; width:25px; height:25px; line-height:25px; border:1px solid #8f8b8b; margin-top:7px;}

.sns a:first-child::after {
  display:inline-block; content:""; width:1px; height:10px; background:#666; margin:0 5px 0 10px 
}


/* util  */
#util a { position:absolute; color:#c9c9c9; font-family: 'Parisienne', cursive; line-height:35px; font-size:18px; transition:0.3s;
}
#util a:hover { color:#fff; }
#util a:nth-child(1) { left:20px; }
#util a:nth-child(2) { left:170px; }
#util a:nth-child(3) { right:100px; }
#util a:nth-child(4) { right:20px; }
#util a i { font-size:12px;}


/* section-본문 */
article { float:left; height:260px;transition: .3s; }
.article1 { width:60%; height:520px; }  
.article2 { width:40%; }  
.article3 { width:20%; }  
.article4 { width:20%; }  
.article5 { width:20%; }  
.article6 { width:40%; }  
.article7 { width:20%; }  
.article8 { width:20%; }  
.article9 { width:40%; }  
.article10 { width:20%; }  
.article11 { width:20%; }  
.article12 {  width:20%; }  

article > div { position: relative; width:100%; height:100%; overflow: hidden;
                cursor:pointer;}
article .bg { background-size:cover; background-position: center center; }

.article1 .bg { background-image:url('../img/pic1.jpg'); } 
.article4 .bg { background-image:url('../img/pic2.jpg'); } 
.article5 .bg { background-image:url('../img/pic3.jpg'); } 
.article7 .bg { background-image:url('../img/pic4.jpg'); } 
.article9 .bg { background-image:url('../img/pic5.jpg'); } 
.article10 .bg { background-image:url('../img/pic6.jpg'); } 
.article12 .bg { background-image:url('../img/pic7.jpg'); } 

.bg span { position:absolute;  font-size:70px; bottom: 10px;right: 10px;
            color:#fff; text-shadow:0 0 5px rgba(0, 0, 0,.6); opacity: 0;
            transform: scale(10);
            transition: 500ms ease-in;}

.bg:hover span {opacity:1; transform: scale(1); }
article .txt { 
  font-family: 'Josefin Sans', sans-serif;
  padding:40px 30px;
  transition: 300ms;
  color:#666;
}
article .txt strong {
  display:block;
  font-size: 26px;
  color:#333;
  font-weight: bold;
}
.txt span {
  font-family: 'khand',sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}
.txt i {
  position: absolute;
  bottom:-50px;
  right:0;
  transform: translate(200px);
  font-size:250px;
  transition: 500ms ease-out;
  opacity: 0;
  color:#fff;
}
.txt:hover i {
  transform: translate(0px);
  opacity:0.5;
}
.txt:hover {background:#d7edfb}
.article1 .bg span {
  bottom: -45px;
  right: -10px;
  font-size: 170px;
  transform: scale(1);
  opacity:1;
  font-family: 'khand',sans-serif;
}
.article1 .bg:hover span {
  transform: rotateY(180deg);
  opacity:0.5;
}
.article2 {}
.article3 {background: #e5f3f6;}
.article6 {background: #fbeef8;}
.article8 {}
.article11 {background: #e6f4e2;}










/********************** 반응형 **********************/
@media (max-width:1600px){  /*좌측 헤더를 위로 올림*/
  /* 레이아웃 */
  header { position:relative; height:80px; width:100%; }
  #util { width:100%; margin-left:0; }
  section { width:100%; margin-left:0; }

  /* 헤더 */
  header h1 { 
    top:17px; left:20px; transform:none;
    width:250px; height:50px; background-image:url('../img/logo2.png');
  }

  .gnb { top:30px; left:auto;  right:200px; margin-left:0; }
  .gnb ul{ }
  .gnb li { float:left; padding:0 15px; }

  .sns { bottom:17px; right:20px; transform:none; }



}



@media (max-width:1280px){  /* article이 한줄 4개*/

  /* 헤더 */
  .gnb { right:20px; }
  .sns { display:none; } 

  /* section-본문 */  
  .article1 { width:75%; }  
  .article2 { width:25%; }  
  .article3 { width:25%; }  
  .article4 { width:25%; }  
  .article5 { width:25%; }  
  .article6 { width:50%; }  
  .article7 { width:50%; }  
  .article8 { width:25%; }  
  .article9 { width:25%; }  
  .article10 { width:50%; }  
  .article11 { width:25%; }  
  .article12 {  width:25%; }  
}

@media (max-width:1024px){  /* article이 한줄 3개*/ 
  /* 헤더 */
  .gnb li { padding:0px 10px; }
  .gnb a { font-size:16px; }

  /* section-본문 */  
  .article1 { width:100%; }  
  .article2 { width:66.66%; }  
  .article3 { display:none; }  
  .article4 { width:33.33%; }  
  .article5 { width:33.33%; }  
  .article6 { width:66.66%; }  
  .article7 { display:none; }  
  .article8 { width:33.33%; }  
  .article9 { width:33.33%; }  
  .article10 { display:none; }  
  .article11 { width:33.33%; }  
  .article12 { display:none; }  
}

@media (max-width:870px){
  /* 헤더 */
  header h1 { 
    top:22px; left:10px; width:160px; height:35px; 
  }
  .gnb { right:10px; }
  .gnb li { padding:0px 5px; }
  .gnb a { font-size:14px; }
}


@media (max-width:640px){  /*큰 모바일- article이 한줄 2개*/ 
  /* 레이아웃 */
  #util { display: none; }

  /* 헤더 */
  header { height: 120px; padding-top:25px; }
  header h1 { position: static; 
    width:160px; height:35px;  margin: 0 auto 20px; 
  }
  .gnb { position: static; text-align:center;}
  .gnb ul { display: inline-block;}
  .gnb li { padding:0px 10px; }

  /* section-본문 */  
  .article1 { height:300px; }  
  .article2 { width:100%; }  
  .article3 { display:none; }  
  .article4 { width:50%; }  
  .article5 { display:none; }  
  .article6 { width:50%; }  
  .article7 { width:50%; }  
  .article8 { width:50%; }  
  .article9 { width:50%; }  
  .article10 { width:50%; display:block; }  
  .article11 { width:50%; }  
  .article12 { width:50%; }
}

@media (max-width:500px){  /*모바일- article이 1개 메뉴 중앙*/ 
  /*헤더*/
  header {
    position:fixed;
    height: 100%;
    padding-top: 10vh;    
    z-index: 10;    
  }
  header h1 {    
    width: 140px;
    height: 116px;
    margin: 0px auto 20px;
    background: url(../img/logo1.png) center center / contain no-repeat;
  }
  .gnb{ 
    padding-top: 10vh;    
  }
  .gnb li {
    padding: 5px 0px;
    float: none;
  }
  .gnb li a {
    display: block;
    width: 55vw;
    background: rgba(85, 83, 83, 0.5);
    font-size: 20px;
    color:#fff;
    padding: 10px;
    border-radius: 8px;
  }
  .gnb li a:hover {
    transform: scale(1.1);
    background: #fff;
    color:#666;
  }
   /* section-본문 */ 
  article { display:none; }
  .article1 { position:fixed; display:block;  width:100%; height:100%; } 
  .article10 {display:none; }  
  .article1 .bg span {
    bottom: -10px;
    right: 0px;
    font-size: 100px;
    transform: scale(1);
    opacity: 0.3;    
}
}
